<div id="advertise-dashboard">
  <div class="container">
    <div class="page-header text-center">
      <h1>Advertiser Dashboard</h1>
      <hr/>
      <div class="header-buttons">
        <a class="btn btn-outline-primary" href="advertise/instagram/">Instagram</a>
      </div>
    </div>
  </div>

  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
